FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "system";
    object      preciceDict;
}

preciceConfig "";

participant Template;

modules (inter-excahnge);

interfaces
{

};

